@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Confirmar ação</h5>
    </div>
    <div class="modal-body">
        <p>Você realmente quer fazer essa alterações?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Não, não quero!</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal" aria-label="Close" onclick="location.reload();">Sim, eu quero!</button>
    </div>
</div>