
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form action="/target" class="dropzone" id="dz-custom"></form>

@section Scripts{

}