@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Operação <b>não</b> concluída.</h5>
    </div>
    <div class="modal-body">
        <p>A operação não foi bem sucedida!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" onclick="location.reload();">OK!</button>
    </div>
</div>