@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section style="margin-top: 130px">
    <div class="container mt-5 mb-5">

        <div class="mb-4">
            <h1 class="text-center">
                <b>Bem-vindo ao Customzito - O Seu Estilo, Sua Marca!</b>
            </h1>
            <p class="mt-5">
                <i class="fs-4">
                    Nossa História:
                </i>
            </p>
            <p>
                Desde a nossa fundação em 2022, o Customzito tem se destacado como uma plataforma inovadora no mundo do comércio eletrônico de roupas personalizáveis
                A ideia surgiu da paixão compartilhada por moda e autenticidade entre dois amigos empreendedores.
                Combinando visão criativa e experiência técnica, decidimos criar uma loja online onde os clientes pudessem expressar seu estilo único através de roupas totalmente personalizadas
                Somos mais do que uma loja de roupas, somos uma celebração da individualidade, da criatividade e da força que pulsa nas veias das ruas.
            <p/>
            <p>
                Nossa jornada começa nas periferias do Brasil, onde cada esquina é uma tela em branco para a expressão pessoal, o que você veste é uma declaração de quem você é.
                No Customzito, trazemos a moda das periferias para todos, onde quer que estejam
                Nossa seleção de roupas é uma mistura ousada de estilo urbano, inovação e respeito à cultura de rua
                Das camisetas inspiradas no rap às calças com atitude, nossas peças são criadas com paixão e autenticidade.
            </p>
        </div>
   

        <div class="mb-5">
            <h1 class="text-center">
                <b>Nossa Missão e Valores</b>
            </h1>
            <p class="mt-5">

                Na Customzito, nossa missão é capacitar indivíduos a abraçarem sua singularidade. Queremos ser a ponte entre a moda e a individualidade, 
                oferecendo uma plataforma onde cada pessoa pode criar e usar peças exclusivas que contam a sua história.
                Visualizamos um mundo onde a moda é uma forma de expressão pessoal, onde cada peça é uma obra de arte única.
                No Customzito, valorizamos a criatividade, a autenticidade e a qualidade. Acreditamos que a moda deve ser acessível a todos e que cada pessoa tem o direito de se destacar da multidão.

            </p>
        </div>

        <div class="mb-5">
            <h1 class="text-center">
                <b>Contato</b>
            </h1>
            <p class="mt-5">
                Estamos aqui para tornar a sua experiência Customzito incrível. Se tiver dúvidas, sugestões ou histórias para compartilhar, não hesite em entrar em contato conosco em contato@customzito.com 
                ou através de nossas redes sociais.
            </p>

            <div class=" mt-5 social-icons">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                
            </div>

            <p class=" mt-5 text-center">
                Obrigado por escolher o Customzito - Onde Sua Criatividade se Encontra com a Moda!
            </p>

            <p class="mt-5 text-center fs-3">
                Seja único, Seja ousado, <b>Seja Customzito!</b>
            </p>

        
        </div>
    </div>

</section>