@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5 mb-5">

    <div class="mb-4">
        <h1>
            <b>Bem-vindo ao Customzito: A Sua Moda, Suas Regras</b>
        </h1>
        <p>
            <i class="fs-4">
                Dê vida à sua essência, vista-se com atitude e seja autêntico.                
            </i>            
        </p>
        <p>
            Esses são os princípios que nos inspiram no Customzito, o seu destino de moda e autenticidade.
        </p>
        <p>
            Na Customzito, estamos orgulhosos de trazer a cultura vibrante e única da periferia brasileira para o mundo da moda.            
        </p>
        <P>
            Somos mais do que uma loja de roupas - somos uma celebração da individualidade, da criatividade e da força que pulsa nas veias das ruas.
        </P>
    </div>

    <div class="mb-5">
        <h1>
            <b>A Moda das Periferias, Agora ao Seu Alcance</b>
        </h1>
        <p>
            Nossa jornada começa nas periferias do Brasil, onde cada esquina é uma tela em branco para a expressão pessoal.            
        </p>
        <p>
            <b class="fs-4">O que você veste é uma declaração de quem você é. </b>
        </p>
        <p>
            No Customzito, trazemos a moda das periferias para todos, onde quer que estejam.
        </p>
        <p>
            Nossa seleção de roupas é uma mistura ousada de estilo urbano, inovação e respeito à cultura de rua.
            Das camisetas inspiradas no rap às calças com atitude, nossas peças são criadas com paixão e autenticidade.
        </p>
    </div>

    <div class="mb-5">
        <h1>
            <b>Personalização Ilimitada</b>
        </h1>
        <p>
            No Customzito, acreditamos que a moda deve ser uma extensão da sua personalidade.
        </p>
        <p>
            É por isso que oferecemos a você a oportunidade de ser seu próprio estilista.
        </p>
        <p>
            Com a nossa ferramenta de customização, você pode criar sua própria camiseta única.
        </p>
        <p>
            Escolha a cor, o material, o estilo e adicione sua própria mensagem ou design. 
        </p>
        <p class="fs-3">
            <b>
                Seja ousado. Seja você.
            </b>
        </p>
    </div>

    <div class="mb-5">
        <h1>
            <b>Porque Moda é Mais do que Vestir - É Viver</b>
        </h1>
        <p>
            Na Customzito, entendemos que moda é mais do que apenas vestir roupas. É uma declaração de identidade. É uma expressão de cultura e valores. É uma maneira de se destacar e celebrar sua autenticidade.
        </p>

        <p>
            Junte-se a nós no Customzito, onde a moda e a cultura se encontram. Explore nossas coleções exclusivas, crie sua própria camiseta e faça parte de uma comunidade que valoriza a originalidade e a diversidade.
        </p>

        <i class="fs-3">
            Seja único. Seja ousado. <b>Seja Customzito.</b>
        </i>

        Descubra o seu estilo, celebre a sua cultura.
    </div>
</div>
