<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Customzito</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Customzito CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Customzito.styles.css" asp-append-version="true" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-ligh bg-light">

            <a class="navbar-brand header-nav-font-style-size" asp-area="" asp-page="/Index">
                <img class="logo" style="height: 110px; width: 250px " src="@Url.Content("~/images/logo.png")"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container">                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-sm-center">
                    <ul class="navbar-nav mr-auto header-nav-itens-font-style">
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-info mr-2" asp-area="" asp-page="~/Customizados/Index">Customizados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-info mr-2" asp-area="" asp-page="~/Masculino/Index">Masculino</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-info mr-2" asp-area="" asp-page="~/Feminino/Index">Feminino</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-outline-info mr-2" asp-area="" asp-page="~/Sobre/Index">Sobre</a>
                        </li>
                    </ul>                    
                </div>                
            </div>

            <form class="form-inline my-2 my-md-4">
                <input class="form-control" type="text" placeholder="Pesquisar" aria-label="Search">
            </form>

        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Customzito - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>