@model CustomBancoLib.TB_Produto;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (TempData["Layout"] is not null)
    {
        Layout = TempData["Layout"] as string;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}


<section style="margin-top: 110px" class="text-center">
    <img src="~/images/produtos.svg" class="img-fluid mb-5 w-75" />
</section>

<div class="container overflow-hidden">
    <div class="row row-cols-3 row-cols-md-3 g-4 justify-content-center">
        @foreach (var item in ViewBag.Produtos)
        {
            <div class="card mb-3 me-3 col">
                <div class="card-body d-flex justify-content-center">
                    <a href="@Url.Action("Item","Produtos", new { id = item.IdProduto})" class="no-underline">
                        
                        <div class=" mt-4 text-center overflow-hidden rounded-3">
                            <div class="my-3 py-3">
                                <h2 class="display-5 produtos-text-titulo">@item.Titulo</h2>
                                <p class="lead produtos-text-descricao">
                                    @item.Descricao <br />
                                    @*<img style="width: 100px; height: 100px;" src="https://www.shutterstock.com/shutterstock/photos/2162642505/display_1500/stock-photo-bear-trap-isolated-on-white-background-metal-trap-addiction-hunting-poaching-credit-mortgage-2162642505.jpg" />*@
                                </p>

                                <img src="~/images/model-cz.png" class=" card-img-top img-fluid" />
                                <label id="precoProduto" class="text-dark produtos-text-preco my-3">@item.Preco</label>

                                <div class="d-flex text-center justify-content-center">
                                    <button class="btn btn-lg btn-success d-flex mx-1">Comprar!</button>
                                    <button class="btn btn-lg btn-success d-flex material-symbols-outlined align-text-center" data-bs-placement="bottom" data-tt="tooltip"
                                            title="Adicionar ao carrinho!">
                                        add_shopping_cart
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script src="~/js/script.js"></script>

    <script type="text/javascript">
        formatarValores();
    </script>
}