@page
@using Customzito.Views.Home;
@model IndexModel
@{
    //ViewData["Title"] = "Customzito";
}

<!-- Carrossel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active ">
            <img src="./images/banner1.svg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <a href="@Url.Action("Quebradas", "Collections")"><img src="./images/banner2.svg" class="d-block w-100"></a>
        </div>
        <div class="carousel-item">
            <img src="./images/banner3.svg" class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<section class="py-5">

    <h1 class="text-center mt-5">NOSSOS PRODUTOS</h1>

    <div class="container d-flex justify-content-around flex-wrap">
        <div class="card m-4 col-md-3 me-5" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title py-2 fw-bold">Customzito</h5>
                <p class="card-text">Customzito: Sua Moda, Sua Voz</p>
                <p>
                    Na Customzito, celebramos a cultura das periferias brasileiras e a transformamos em moda autêntica. Escolha entre nossas peças únicas ou crie sua própria camiseta personalizada. Seja parte de uma comunidade que valoriza a individualidade.
                </p>
                <a href="@Url.Action("Index","Sobre")" class="btn botao-padrao w-100 fw-bold mt-3">Sobre nós</a>
            </div>
        </div>

        <div class="card m-4 col-md-3 me-5" style="width: 20rem;">
            <img src="./images/custom-card.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title py-2 fw-bold">Custom</h5>
                <p class="card-text">
                    Personalize uma peça do seu jeito!
                    Use as nossas estampas disponíveis na tela de personalização ou faça uplaod da sua própria arte!
                </p>
                <a href="@Url.Action("Index","Custom")" class="btn botao-padrao w-100 fw-bold mt-3">Customizar</a>
            </div>
        </div>

        <div class="card m-4 col-md-3 me-5" style="width: 20rem;">
            <img src="./images/coleções-card.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title py-2 fw-bold">Nossas Coleções</h5>
                <p class="card-text">Aqui estão todas as nossas coleções disponíveis.</p>
                <a href="@Url.Action("Index","Collections")" class="btn botao-padrao w-100 fw-bold mt-3">Quero ver!</a>
            </div>
        </div>
    </div>

</section>







<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Customzito - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>




