@page
@model Customzito.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h1 class="card-title">Sair da Conta</h1>
            <hr />

            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                @*<button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>*@
                <div class="card-text">
                    <div class="row justify-content-start  align-items-center">
                        <div class="col-md-6">
                            Você realmente deseja sair da sua conta?
                            
                        </div>
                        <div class="col-mg-6">
                            <button type="submit" class=" btn btn-outline-danger text-dark text-end">Sair</button>
                            <a href='javascript:history.go(-1)' class=" btn btn-outline-primary text-dark text-end">voltar</a>
                        </div>
                    </div>

                </div>

            </form>
        </div>

    </div>
</div>
