@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";

    var Total = TempData["QtdColecao"];
    TempData["QtdColecao"] = null;

}
<div class="flex-shrink-0">
    <div class="d-flex flex-column h-100">
        <div class="container">
            <h1 class="mt-5">Visualização 3d</h1>
            <p class="lead">
                Aqui tem o prototipo de uma tela 3d
            </p>
            <p>
                O QtdColecao ta em @Total
            </p>
        </div>
        <div class="container">
            <h2>Aqui esta a cena</h2>
            <div id="custom-render">

            </div>
            
        </div>
    </div>
</div>

@section Scripts
{
    
}
