@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (TempData["Layout"] is not null)
    {
        Layout = TempData["Layout"] as string;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="container">
    <div class="row">
        @await Html.PartialAsync("../Shared/_CustomCanvasPartial.cshtml")
    </div>
</div>

@section Scripts{
    <script src="~/js/Canvas.js"></script>
}