
@{
    ViewData["Title"] = "View";
    if (TempData["Layount"] is not null)
    {
        Layout = TempData["Layout"] as string;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1>View</h1>

