@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tulpen+One&display=swap');

@font-face{
    font-family: 'GochiHand';
    src: url('/support/fonts/GochiHand-Regular.ttf') format('truetype'); 
}


body {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    background-color: #D9D9D9;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.footer {
    color: white;
    background-color: black;
    padding: 10px;

}

.footer a {
    color: white;
    text-decoration: none;
}

.list-unstyled i {
    font-size: 24px;
}

/*Navbar*/
.navbar {
    color: black;
    background-color: white;
    height: 100px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: black;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: 500;
    position: relative;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
    color: black;
}

.nav-link:hover, .nav-link.active {
    color: black;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: black;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}


/*Sobre nós*/
.social-icons {
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
}

.social-icons a {
        margin-right: 1rem;
        color: #000; /* Cor preta */
        text-decoration: none; /* Sem sublinhado */
        display: inline-block;

}

/*Banners e Cards da página inicial*/
.banner-1 {
    width: 100%;
    height: auto;
    margin-top: 110px;
    position: relative;
}

.banner-2 {
    width: 100%;
    height: auto;
   
}

.card-move {
    transition: all 0.3s;
}

.card-move:hover {
    transform: scale(1.10);
}

.botao-padrao {
    background-color: black;
    color: white;
    font-size: 17px;
}

.botao-padrao:hover{
    background-color: black;
    color: white;
}


/*Personalização*/
.custom-text {
    font-size: 15px;
}

.icones-menu-custom{
    width: 900px;
    height: 200px;
}

.colecoes-text {
    font-family: 'GochiHand', regular;
}

.colecoes-text-titulo {
    font-family: 'GochiHand', regular;
    letter-spacing: 10px;
}

.colecoes-text-card {
    font-size: 35px;
}

.colecoes-text-limitado {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size:30px;
}

.produtos-text-titulo {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    letter-spacing: 1px;
    font-size: 30px;
}

.produtos-text-descricao {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    letter-spacing: 2px;
    font-size: 15px;
}

.produtos-text-preco {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    font-size: 30px;
}

.bg-clarear{
    background-color: lightgreen !important;
}

/* Estilo base dos quadrados */
.quadrado {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

/* Cores dos quadrados */
.branco {
    background-color: white;
}

.preto {
    background-color: black;
}

.rosa {
    background-color: pink;
}

.azul {
    background-color: blue;
    color: white; /* Adicionando cor de texto para melhor visibilidade no fundo azul */
}

.vermelho {
    background-color: red;
    color: white; /* Adicionando cor de texto para melhor visibilidade no fundo vermelho */
}


a.no-underline {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor do texto pai, que é preta no exemplo */
}
