@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tulpen+One&display=swap');

@font-face{
    font-family: 'GochiHand';
    src: url('/support/fonts/GochiHand-Regular.ttf') format('truetype'); 
}

body {
    --verde-claro: #8CD918;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
}

.searchBtn{
    background-color: var(--verde-claro)
}

.custom-text{
    font-size: 15px;
}

.icones-menu-custom{
    width: 900px;
    height: 200px;
}

.colecoes-text {
    font-family: 'GochiHand', regular;
}

.colecoes-text-titulo {
    font-family: 'GochiHand', regular;
    letter-spacing: 10px;
}

.colecoes-text-card {
    font-size: 35px;
}

.colecoes-text-limitado {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size:30px;
}

.produtos-text-titulo {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    letter-spacing: 1px;
    font-size: 30px;
}

.produtos-text-descricao {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    letter-spacing: 2px;
    font-size: 15px;
}

.produtos-text-preco {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    font-size: 30px;
}

.bg-clarear{
    background-color: lightgreen !important;
}

/* Estilo base dos quadrados */
.quadrado {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

/* Cores dos quadrados */
.branco {
    background-color: white;
}

.preto {
    background-color: black;
}

.rosa {
    background-color: pink;
}

.azul {
    background-color: blue;
    color: white; /* Adicionando cor de texto para melhor visibilidade no fundo azul */
}

.vermelho {
    background-color: red;
    color: white; /* Adicionando cor de texto para melhor visibilidade no fundo vermelho */
}

/* Estilo do menu */
.menu {
   /*text-align: center;*/
}

.botao-padrao {
    background-color: var(--verde-claro);
    color: black;
}

a.no-underline {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor do texto pai, que é preta no exemplo */
}