@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tulpen+One&display=swap');

body {
    --verde-claro: #8CD918;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
}

.searchBtn{
    background-color: var(--verde-claro)
}

.botao-padrao {
    background-color: var(--verde-claro);
    color: black;
}