@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tulpen+One&display=swap');

body {
    --verde-claro: #8CD918;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
}

.searchBtn{
    background-color: var(--verde-claro)
}

.custom-text{
    font-size: 15px;
}

.icones-menu-custom{
    width: 900px;
    height: 200px;
}

/* Estilo base dos quadrados */
.quadrado {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

/* Cores dos quadrados */
.branco {
    background-color: white;
}

.preto {
    background-color: black;
}

.rosa {
    background-color: pink;
}

.azul {
    background-color: blue;
    color: white; /* Adicionando cor de texto para melhor visibilidade no fundo azul */
}

.vermelho {
    background-color: red;
    color: white; /* Adicionando cor de texto para melhor visibilidade no fundo vermelho */
}

/* Estilo do menu */
.menu {
   /*text-align: center;*/
}
}

.botao-padrao {
    background-color: var(--verde-claro);
    color: black;
}